variables:
  IMAGE_NAME: vagile1001/juice-shop
  IMAGE_TAG: 1.0

stages:
  - test
  - build


yarn-test:
  image: cypress/browsers:node-22.21.0-chrome-141.0.7390.107-1-ff-144.0-edge-141.0.3537.92-1
  stage: test
  script:
    - yarn install 
    - yarn test


build_image:
  image: docker:29
  stage: build
  services:
    - docker:29-dind
  variables:
    DOCKER_PASS: your PAT
    DOCKER_USER: your username
  before_script:
    - echo $DOCKER_PASS | docker login -u $DOCKER_USER --pasword-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
